<div class="container">
    <div class="main-div">
        <span class="heading-text backgrnd-hdng">&nbspDownload&nbsp</span>
        <div class="buyInrTxt">
            <div class="col-xs-12 col-sm-8 npd">
                <p class="img-nopadding textColor"><i>Sublime Text 3 is the current version of Sublime Text. For bleeding-edge releases, see the <a class="anchor-text">dev builds</a>.</i></p>
                <div style="border:1px solid #ddd;">
                    <p class="textColor" style="padding: 10px 10px 0px 10px;">&nbsp<b><i>Version:</i> Build 3143</b></p>
                    <ul>
                        <li><a class="anchor-text">OS X</a> (10.7 or later is required)</li>
                        <li><a class="anchor-text">Windows</a> - also available as a <a class="anchor-text">portable version</a></li>
                        <li><a class="anchor-text"><b>Windows 64 bit</b></a> - also available as a <a class="anchor-text"><b>portable version</b></a></li>
                        <li><a class="anchor-text">Linux repos</a> - also available as a <a class="anchor-text">64 bit or <a class="anchor-text">32 bit tarball</a></li>
                    </ul>
                </div>
                <p class="img-nopadding textColor">
                    <i>
                        Sublime Text may be downloaded and evaluated for free, however a license must be <a class="anchor-text">purchased</a> for continued use. There is
                        currently no enforced time limit for the evaluation.
                    </i>
                </p>
                <h3 class="textColor">Change Log</h3>
                <div class="devBuild-text">
                    <span class="devBuild-font"><a class="anchor-text">DEV BUILD 3154</a></span><br /><i class="licenseKey">11 November 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3153</a><br /><i class="licenseKey">1 November 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3152</a><br /><i class="licenseKey">14 September 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3150</a><br /><i class="licenseKey">20 October 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3149</a><br /><i class="licenseKey">17 October 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3148</a><br /><i class="licenseKey">13 October 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3147</a><br /><i class="licenseKey">10 October 2017</i>
                </div>
                <div class="devBuild-text">
                    <a class="anchor-text devBuild-font">DEV BUILD 3144</a><br /><i class="licenseKey">6 October 2017</i>
                </div>
                <div class="devBuild-text" style="border-left:3px solid #a9b3c3; border-bottom:1px solid #ddd;">
                    <span class="devBuild-font">3.0 (BUILD 3143)</span><br /><i class="licenseKey">13 September 2017</i>
                    <p>See also the Announcement Post</p>
                    <ul class="listItms">
                        <li>Refreshed UI theme, including full high DPI support</li>
                        <li>New icon</li>
                        <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                        <li>Windows: Added touch input</li>
                        <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Fixed several crash issues</li>
                        <li>Refreshed UI theme, including full high DPI support</li>
                        <li>New icon</li>
                        <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                        <li>Windows: Added touch input</li>
                        <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Fixed several crash issues</li>
                        <li>Refreshed UI theme, including full high DPI support</li>
                        <li>New icon</li>
                        <li>Added alternate theme, Adaptive, that inherits colors from the color scheme</li>
                        <li>Windows: Added touch input</li>
                        <li>Mac: Support for custom color window title bars on OS X 10.10+</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Many other syntax highlighting improvements</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Various bugs with the syntax highlighting engine have been resolved</li>
                        <li>Fixed several crash issues</li>
                    </ul>
                </div>
                <div>
                    <div class="devBuild-text">
                        <span class="devBuild-font">BUILD 3126</span><br /><i class="licenseKey">23 September 2016</i>
                        <ul class="listItms">
                            <li>Added Indexing Status to the Help menu to give more information about what the indexer is doing</li>
                            <li>Fixed a compatibility issue with some third party syntax definitions that include<kbd> JavaScript.sublime-<br />syntax</kbd></li>
                            <li>Reduced the default number of worker processes used for indexing. This can be manually controlled via the <br /><kbd>index_workers</kbd>setting</li>
                            <li>API: Updated OpenSSL to 1.0.2i</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 npd">
                <p>For notification about new releases, <br />follow <a class="anchor-text">@sublimehq</a> on twitter.</p>
                <h4 class="textColor">OTHER DOWNLOADS</h4>
                <ul class="listItms">
                    <li><a class="anchor-text">Dev Builds</a></li>
                    <li><a class="anchor-text">Sublime Text 2</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>